/* Base Styles */
/*body {
    background: url("./2148933766.jpg");
    background-position: bottom;
    background-attachment: fixed;
    font-family: "Comfortaa", sans-serif;
    color: white;
} */

body {
    background: url("./bg3.png");
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  /* Ensures the image covers the whole screen */
    font-family: "Comfortaa", sans-serif;
    color: white;
}


.searchBar {
    height: 10vh; /* giving 10% of screen */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputfield {
    outline: none;
}

.searchBarParentDiv {
    width: 50%;
    height: fit-content;
    position: relative;
}

.inputfield {
    width: 100%;
    border-radius: 15px;
    padding: 10px; /* Add right padding for the icon */
    border: 1px solid #ccc;
}

.SearchIcon {
    position: absolute; /* it sets position nearest to the ancestor */
    right: 10px;
    top: 5px;
}

.SearchIcon:hover { /* this changes the cursor to hand when it goes to icon */
    cursor: pointer;
}

.mainContentParentDiv {
    height: 90vh;
    display: flex;
    flex-direction: row; /*setting the flex property we get it side by side 30% left and remain on right*/
    width: 100%;
}

.leftDiv {
    width: 30%;
    height: 100%;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack the child elements vertically */
}

.leftChild {
    background: rgba(212, 212, 212, 0.4);
    width: 92%;
    height: 43vh;
    margin: auto;
    border-radius: 15px;
    backdrop-filter: blur(15px); /*this makes the white box blurry */
}

.currentTempDiv h6 {
    font-size: larger;
}

#cityName {
    font-size: x-large;
}

#cityTemp {
    font-size: xx-large;
}

#ComingFiveDaysTitle {
    font-size: x-large;
}

.forecastRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.rightDiv {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px; /* setting up the gap b/w the containers */
}

.rightRow {
    height: 27vh;
    width: 98%;
}

.extrametric {
    background: rgba(212, 212, 212, 0.4);
    padding: 5% 2%;
    width: fit-content;
    border-radius: 15px;
    align-items: center;
    backdrop-filter: blur(15px); 
}

.rowTwoDiv {
    background: rgba(212, 212, 212, 0.4);
    backdrop-filter: blur(15px);
    width: 45%;
    height: 100%;
    display: flex;
    border-radius: 15px;
}

.todayTemp {
    background: rgba(212, 212, 212, 0.4);
    backdrop-filter: blur(15px); 
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Media Queries for smaller screens*/
@media only screen and (max-width: 898px) {
    .leftDiv {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .rightDiv {
        width: 100%;
        padding-right: 0px;
    }

    .mainContentParentDiv {
        height: 90vh;
        flex-direction: column; /* Stack content vertically */
    }

    .searchBar {
        width: 100%;
    }

    .searchBarParentDiv {
        width: 85%;
        height: fit-content;
        position: relative;
    }

    .rowOne {
        flex-wrap: wrap;
        width: 85%;
        align-items: center;
        margin: auto;
        height: 45vh;
    }

    .rowTwo {
        flex-direction: column;
        gap: 10px;
        height: auto;
        width: 85%;
        margin: auto;
    }

    .rowTwoDiv {
        background: rgba(212, 212, 212, 0.4);
        backdrop-filter: blur(15px);
        width: 100%; /* Ensure it takes the full width */
        height: auto; /* Adjust height for wrapping */
        border-radius: 15px;
    }

    .rowThree {
        width: 85%;
        margin: auto;
    }

    .todayTempParentDiv {
        width: 100%;
        flex-wrap: wrap;
        margin: auto;
        gap: 15px;
    }

    .extraMetric {
        background: rgba(212, 212, 212, 0.4);
        padding: 5% 2%;
        width: fit-content;
        border-radius: 15px;
        align-items: center;
    }
}
